<div>
    <h3 class="m-3">
        Of-From
    </h3><br>

    <div class="row">
        <div class="col-md-6">
            <ul id="cont"></ul>
        </div>
   
        <div class="col-md-4">
            <strong>From</strong> <br>
             <strong>Array:</strong>
             <ul id="arId"></ul> <hr>
    </div>

    <div class="col-md-4">
         <strong>Promise:</strong>
         <ul id="prId"></ul> <hr>
</div>

<div class="col-md-4">
    <strong>String:</strong>
    <ul id="sId"></ul>
</div>
  
   
</div>
</div>  
