<div class="row">
    <div class="col-md-6">
        <ul class="list">
           <li>
            <a routerLink="from-event">fromEvent</a>
           </li>
           <li>
            <a routerLink="interval">Interval</a>
           </li>
           <li>
            <a routerLink="from-event">fromEvent</a>
           </li>
           <li>
            <a routerLink="of-from">ofFrom</a>
           </li>
           <li>
            <a routerLink="to-array">toArray</a>
           </li>
        </ul>
    </div>
</div>
